@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

body {
  background-color: #AAA;
}

.container.is-fluid {
  margin-left: 0;
  margin-right: 0;
}

#button-leave,
.video-session,
.message-row {
  display: none;
}

body.connected {
  #button-join,
  .empty-video {
    display: none;
  }

  #button-leave,
  .video-session {
    display: flex;
  }

  .message-row {
    display: block;
  }
}

.empty-video {
  background-color: #cececc;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #AAA;
  font-size: 2rem;
}

.navbar {
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
  border-bottom: 2px solid #5d5d5d;
}

.top {
  padding: 0.3rem;
  display: flex;
  flex: 1;
  height: 3.25rem;
  align-items: center;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.videos {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  overflow: hidden;

  .remote-video {
    text-align: center;
    margin: auto;

    video {
      height: 100vh;
      max-width: initial;
      display: none;
    }
  }

  .local-video-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 33%;
    z-index: 1;

    video {
      width: 100%;
      border: 1px solid #999;
      box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    }
  }
}

.message-row {
  padding: 1rem;
  z-index: 2;
  background: #d6d6d6;
  position: relative;
}

#log {
  font-size: 0.7rem;
}

.footer {
  background-color: #eaeaea;
  padding: 2rem 1rem 2rem;
  position: relative;
  z-index: 2;
}
